@import "siyuan-app/app/src/assets/scss/util/keyframes";
@import "siyuan-app/app/src/assets/scss/util/mixin";
@import "siyuan-app/app/src/assets/scss/util/reset";
@import "siyuan-app/app/src/assets/scss/util/function";
@import "siyuan-app/app/src/assets/scss/protyle/protyle";
@import "siyuan-app/app/src/assets/scss/business/config";
@import "siyuan-app/app/src/assets/scss/business/layout";
@import "siyuan-app/app/src/assets/scss/component/button";
@import "siyuan-app/app/src/assets/scss/component/switch";
@import "siyuan-app/app/src/assets/scss/component/select";
@import "siyuan-app/app/src/assets/scss/component/text-field";



.block__logoicon {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  padding: 4px;
  flex-shrink: 0;
}

.block__logoicon.custom-emoji {
  height: auto;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.block__logo:not(.popover__block) {
  width: 120px;
  color: var(--b3-theme-on-surface);
  align-self: center;
  margin-top: 2px;
}


div {
  display: block;
  unicode-bidi: isolate;
}

element.style {
  background-color: var(--b3-font-background8);
  color: var(--b3-font-color8);
}


.b3-chip {
  margin: 1px 2px;
}

.b3-chip {
  background-color: var(--b3-list-hover);
  color: var(--b3-theme-on-background);
  line-height: 16px;
  font-weight: 400;
  font-size: .8125rem;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 20px;
  transition: var(--b3-transition);
  text-decoration: none;
}

.b3-chip--middle {
  padding: 4px 6px;
}


.custom-attr__avvalue {
  cursor: pointer;
  transition: var(--b3-transition);
  border-radius: var(--b3-border-radius);
  padding: 4px 8px;
  line-height: 26px;
  min-height: 26px;
  flex-wrap: wrap;
}

.av__cellicon {
  margin: 0 5px;
  height: 10px;
  width: 10px;
}

.av__cellassetimg {
  max-height: 24px;
  border-radius: 4px;
}

.av__row {
  box-sizing: border-box;
  padding: 4px 8px;
  white-space: nowrap;
  margin-right: 8px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  border-bottom: 1px solid var(--b3-theme-surface-lighter);
  position: relative;
  font-size: 87.5%;
}

.av__checkbox {
  color: var(--b3-theme-on-surface);
  box-sizing: border-box;
  padding: 5px 0;
  display: block;
  font-size: auto;
  width: 16px;
  height: 26px;
}

.block__icon {
  color: var(--b3-theme-on-surface);
  cursor: pointer;
  opacity: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: var(--b3-border-radius);
  transition: var(--b3-transition), opacity .3s cubic-bezier(0, 0, 0.2, 1) 0ms;
  line-height: 14px;
}

.block__icon--show {
  opacity: 1;
}

.block__icon svg {
  height: 14px;
  width: 14px;
}

.custom-attr .av__cellassetimg {
  max-height: 24px;
}

.av__celltext--url.b3-chip {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
  border-bottom: 0;
}

.block__icons {
  box-sizing: border-box;
  padding: 4px 8px;
  font-size: 100%;
  border-bottom: 0;
  padding: 0 8px;
  display: flex;
  align-items: center;
  min-height: 42px;
  flex-shrink: 0;
}

.block__logo {
  white-space: nowrap;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
}

.config__tab-container {
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
}

.av__celltext--ref {
  border-bottom: .5px solid var(--b3-border-color);
}

span[data-type~=block-ref][data-id].av__celltext--ref {
  cursor: pointer;
}

.text-white-space-wrap {
  white-space: wrap;
}

img {
  cursor: pointer;
}